.App{
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

/* .App{
  background-color: #4fa4eb;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
*/

h1 {
  color: #333;
}


label {
  margin: 4px 0;
}

.employee-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

}

input {
  margin: 10px;
  width: 200px;
  height: 30px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;

}

 button {

  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 90px;
  height: 38px;
  margin-top: 15px;
} 

 button:hover {
  cursor:pointer;
  background-color: #45a049;
}

.employees {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.employee {
  width: 450px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.employee h3 {
  margin: 20px;
}

#emp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  color: darkolivegreen;

}

.eid{
    width: 80px;
    height: 25px;
}
